<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="WordPress" patternSyntax="Wildcard">
          <match url="*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
        <rule name="Wordpress: PHP files in wp-content/themes" stopProcessing="false">
          <match url="^(wp-content\/themes\/).*\.php$" />
          <action type="Rewrite" url="index.php" />
        </rule>
        <rule name="Wordpress: PHP files in wp-content/plugins" stopProcessing="false">
          <match url="^(wp-content\/plugins\/).*\.php$" />
          <action type="Rewrite" url="index.php" />
        </rule>
        <rule name="Wordpress: PHP files in wp-content/uploads" stopProcessing="false">
          <match url="^(wp-content\/uploads\/).*\.php$" />
          <action type="Rewrite" url="index.php" />
        </rule>
        <rule name="Wordpress: block author scans" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="author=\d+" />
          </conditions>
          <action type="Rewrite" url="index.php" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="App_Browsers" />
          <remove segment="App_Data" />
          <remove segment="App_WebReferences" />
          <remove segment="App_LocalResources" />
          <remove segment="App_GlobalResources" />
          <remove segment="App_code" />
          <remove segment="bin" />
          <add segment="wp-config.php" />
          <add segment="xmlrpc.php" />
          <add segment="readme.html" />
          <add segment="license.txt" />
          <add segment="licens-sv_SE.txt" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
